parameters:
	level: 10
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkMissingCallableSignature: true
	checkUninitializedProperties: true
	checkImplicitMixed: true
	checkBenevolentUnionTypes: true
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		uncheckedExceptionClasses:
			- 'Error'
	paths:
		- src